footer {
  display: flex;
   justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  font-size: 20px;
  font-family: Playfair Display;
  font-weight: bold;
  background: #1c1c1c;
  padding: 16px 48px;
  margin-top: auto;
}

.footer__copyright {
  color: white;
}

.footer__link {
  padding: 0 8px;
  color: white;
}

/* 

B DESIGN

*/

/* footer {
  display: flex;
   justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  font-size: 20px;
  font-family: Playfair Display;
  font-weight: bold;
  background: #163832;
  padding: 16px 48px;
  margin-top: auto;
}

.footer__copyright {
  color: white;
}

.footer__link {
  padding: 0 8px;
  color: white;
} */

/*

C DESIGN

*/

/* footer {
  display: flex;
   justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  font-size: 20px;
  font-family: Playfair Display;
  font-weight: bold;
  background: #C9A84C;
  padding: 16px 48px;
  margin-top: auto;
}

.footer__copyright {
  color: black;
}

.footer__link {
  padding: 0 8px;
  color: black;
} */