@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


 /* Colors 
 Gable Green #163832
 Champagne Gold #C9A84C
 Soft Black #1C1C1C
 
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}